*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url('photography.jpg');
    height: 100vh;
    background-size: cover;
}

.btn_one i{
color:white;
font-size: 30px;
font-weight: bold;
position: absolute;
left: 16px;
line-height: 60px;
cursor: pointer;
transition: all 0.2s linear;
}

.sidebar_menu{
    position:fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color:rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.2s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 55px;
    color: white;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}


.btn_two i{
    color:white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 250px;
    line-height: 60px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s linear;
    }

    .sidebar_menu .menu li{
        margin-top: 6px;
        padding: 14px 20px;
    }

    .sidebar_menu .menu i,a{
        color: white;
        text-decoration: none;
    }

    .sidebar_menu .menu i{
        padding: 8px;
    }

    .sidebar_menu .social_media{
        color:white;
      
        position: absolute;
        left: 25%;
        bottom: 50px;
    }
    .sidebar_menu .social_media i{
        color: white;
        padding:0 5px;
        opacity: 0.5;


    }

    #check{
        display: none;
    }

    .sidebar_menu .menu li:hover{
        box-shadow: 0 0 4px rgba(255,255,255,0.5);
    }

    .btn_one i:hover{
        font-size: 35px;
    }

    .btn_two i:hover{
        font-size: 30px;
    }

    .sidebar_menu .social_media i:hover{
        opacity: 1;
        transform: scale(1.5);
    }

    #check:checked ~ .sidebar_menu{
     left: 0;
    }

    #check:checked ~ .btn_one i{
        opacity: 0;
    }

    #check:checked ~ .sidebar_menu .btn_two i{
        opacity: 1;
    }